<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>QUEUEUE</title>
</head>

<body>
    <a id="top"></a>
    <!--links to jump to parts of the page-->
    <!--Top navbar part thats just links to other pages or drag downs-->
    <nav class="navbar-light bg-light navbar navbar-expand-sm ">
        <a class="navbar-brand" href="http://localhost:3000/">
            <img src="https://png.pngtree.com/png-clipart/20190706/original/pngtree-passengers-who-queue-up-to-buy-tickets-are-free-of-elements-png-image_4373331.jpg"
                height="120">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/login">LOGIN<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/sign-up">SIGN UP</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="http://localhost:3000/#about">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/#bottom">CONTACT US</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/manager">MANAGER PORTAL</a>
                </li>
            </ul>
        </div>
    </nav>
    {{{body}}}
</body>

</html>