<link rel="stylesheet" href="/css/css-create-account.css">

<!-- Contents -->
<!-- Credit1: "Start Bootstrap" - https://startbootstrap.com/snippets/registration-page/ -->
<!-- Credit2: "Start Bootstrap" - https://startbootstrap.com/snippets/sign-in-split/ -->

<div class="container-fluid">    
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 left-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
       
                <div class="container">
                <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                <h2 class="card-title text-center">Thank You!</h2>
                <h3 class="card-title text-center">Signed Up Successfully</h3><br>
                <h5 class="card-title text-center"><a href="http://localhost:3000/Login">GO TO LOGIN</a></h5>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
   