/* 
 Credit1: "Start Bootstrap" - https://startbootstrap.com/snippets/registration-page/
 Credit2: "Start Bootstrap" - https://startbootstrap.com/snippets/sign-in-split/
*/

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.left-image {
  background-image: url('img/clouds_sea.jpg');
  background-size: cover;
  background-position: center;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.open-day {
  background-color: rgba(178, 205, 255, 0.303);
  border-radius: 2rem;
}

.form-label-group select,
.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group select,
.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.phone input::-webkit-input-placeholder {
  color: #495057;
}

.phone input:-ms-input-placeholder {
  color: #495057;
}

.phone input::-ms-input-placeholder {
  color: #495057;
}

.phone input::-moz-placeholder {
  color: #495057;
}

.phone input::placeholder {
  color: #495057;
}

.form-label-style input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-style input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.iti.iti--allow-dropdown {
  width: 100%;
}

#error-msg {
  color: red;
  margin: 20px;
  font-weight:light; 
  padding-top: 10px;
}
